*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#greenBand{
    height: 100px;
    background-color: #007e7d;
    position: relative;
}

.ms-bg-color-1{
    background-color: #d3d6d1;
}

#ms-background{
    height: 100vh;
    padding: 0;
}

.profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.ms-position-absolute{
    position: absolute;
    top: 50px;
    left: 10vw;
}

.ms-bg-color-2{
    background-color: #e8e8e8;
}

.ms-bg-color-3{
    background-color: #7ccefd;
    
}

.ms-bg-color-4{
    background-color: #cef1b3;
}

.ms-text-color-3{
    color: #7ccefd;
}

.ms-column-background{
    height: 90vh;
    background-color: white;
}

.ms-column-background-2{
    height: 90vh;
    
}

.ms-fs-8{
    font-size: 12px;
}

.ms-max-width-contatti{
    max-width: 150px;
}